@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir.eot);
    src: url(../fonts/Avenir.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir.woff) format("woff"), url(../fonts/Avenir.ttf) format("ttf");
    font-style: bold;
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Regular.eot);
    src: url(../fonts/Avenir-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Regular.woff) format("woff"), url(../fonts/Avenir-Regular.ttf) format("ttf");
    font-style: normal;
}