$dark: #1b2324;
$light: #e6f2ee;
//$accent: #8a1715;
//$accent_opacity: rgba(138, 23, 21, 0.65);

$accent: #7f0e32;
$accent_opacity: rgba(127, 14, 50, 0.74);

$emphasis: #bddbdb;
$emphasis_opacity: rgba(189, 219, 219, 0.4);
$secondary: #101517;
//$danger: ;
//$success: ;
//$warning: ;

$anim: 0.3s;
