.vote{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  .row{
    align-items: stretch;
  }
  .logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .heading{
    margin-top: -10rem;
    margin-bottom: 5rem;
    @media screen and (max-width: 1000px){
      margin-top: 2rem;
    }
  }
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 2rem;
    padding: 3rem;
    background-color: $dark;
    border-radius: 0.6em;
    color: $light;
    box-shadow: 0 5px 10px $accent_opacity;
    transition: $anim all;
    &:hover{
      color: $light;
      text-decoration: none;
      transform: translateY(-1%);
      box-shadow: 0 15px 15px $accent_opacity;
    }
    .mission__icon{
      .material-icons{
        height: auto;
      }
    }
    @media screen and (max-width: 1000px){
      width: 100%;
      flex: auto;
      margin-bottom: 3rem;
      flex-direction: row;
      .vote__desc{
        flex: 1;
        text-align: left;
        margin-left: 3rem;
      }
      .mission__icon, .mission__text{
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: 600px){
      width: 100%;
      flex: auto;
      margin-bottom: 3rem;
      flex-direction: column;
      .vote__desc{
        flex: auto;
        text-align: center;
        margin-left: 0;
      }
      .mission__icon{
        margin-bottom: 3rem;
      }
    }
  }
}
