@charset "UTF-8";
.text--md {
  letter-spacing: 0.5px;
  word-spacing: 3px;
  font-family: 'Play', monospace;
  font-size: 2rem; }
.text--lg {
  letter-spacing: 0.5px;
  word-spacing: 4px;
  font-family: 'Play', monospace;
  font-size: 2.4rem; }
.text--sm {
  letter-spacing: 0.5px;
  word-spacing: 2px;
  font-family: 'Play', monospace;
  font-size: 1.6rem; }
.text--upper {
  text-transform: uppercase; }

.heading {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  color: #e6f2ee;
  font-size: 3.4rem;
  line-height: 1.5;
  font-family: 'Avenir', monospace;
  font-weight: bold;
  text-transform: uppercase; }
  .heading:after, .heading:before {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    background-color: #7f0e32;
    border-radius: 0 0 100% 100%; }
  .heading:after {
    left: 3rem;
    width: 2rem;
    animation: twinkle 3s linear infinite;
    box-shadow: 0 0 3px rgba(127, 14, 50, 0.74), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 7px rgba(127, 14, 50, 0.74), 0 0 9px rgba(127, 14, 50, 0.74), 0 0 11px rgba(127, 14, 50, 0.74), 0 0 13px rgba(127, 14, 50, 0.74); }
  .heading:before {
    width: 8rem; }
  .heading--sm {
    font-size: 2.4rem;
    font-weight: bold; }
  .heading--center {
    text-align: center; }
    .heading--center:after, .heading--center:before {
      left: calc(50% - 4rem); }
    .heading--center:after {
      left: calc(50% - 1rem); }
  .heading--in-text {
    margin-left: 4px;
    font-size: 2rem;
    font-family: Play, monospace;
    font-weight: normal;
    display: inline;
    white-space: nowrap;
    border-bottom: 1px solid rgba(127, 14, 50, 0.74); }
    @media screen and (max-width: 900px) {
      .heading--in-text {
        white-space: normal; } }
    .heading--in-text:before, .heading--in-text:after {
      display: none; }

@keyframes twinkle {
  0% {
    transform: translate(-200%, 0);
    opacity: 0; }
  50% {
    transform: translate(0);
    opacity: 1; }
  100% {
    transform: translate(200%, 0);
    opacity: 0; } }
@keyframes headerTwinkle {
  0% {
    transform: translate(-1000%, 0);
    opacity: 0; }
  10% {
    transform: translate(0);
    opacity: 1; }
  20% {
    transform: translate(1000%, 0);
    opacity: 0; }
  100% {
    transform: translate(-1000%, 0);
    opacity: 0; } }
@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir.eot);
  src: url(../fonts/Avenir.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir.woff) format("woff"), url(../fonts/Avenir.ttf) format("ttf");
  font-style: bold; }
@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir-Regular.eot);
  src: url(../fonts/Avenir-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Avenir-Regular.woff) format("woff"), url(../fonts/Avenir-Regular.ttf) format("ttf");
  font-style: normal; }
@media screen and (max-width: 900px) {
  .roadmap {
    overflow: hidden; } }
.roadmap__list {
  padding: 50px 0; }
.roadmap__item {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #7f0e32;
  box-shadow: 0 0 3px rgba(127, 14, 50, 0.74), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 10px rgba(127, 14, 50, 0.74); }
  .roadmap__item:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    transition: background .5s ease-in-out; }
  .roadmap__item:nth-child(odd) .roadmap__inner {
    left: 45px;
    transform: translate3d(200px, 0, 0); }
    .roadmap__item:nth-child(odd) .roadmap__inner:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #1b2324 transparent transparent; }
  .roadmap__item:nth-child(even) .roadmap__inner {
    left: -439px;
    transform: translate3d(-200px, 0, 0); }
    .roadmap__item:nth-child(even) .roadmap__inner:before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #1b2324; }
  .roadmap__item.in-view:after {
    background-color: #1b2324; }
  .roadmap__item.in-view .roadmap__inner {
    transform: none !important;
    visibility: visible;
    opacity: 1; }
.roadmap__inner {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: #1b2324;
  visibility: hidden;
  opacity: 0;
  border-radius: 0.6rem;
  box-shadow: 5px 5px 20px rgba(127, 14, 50, 0.74);
  transition: all .5s ease-in-out; }
  .roadmap__inner:before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid; }
.roadmap__date {
  display: block;
  font-weight: bold;
  margin-bottom: 8px; }

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .roadmap__inner {
    width: 250px; }

  .roadmap__item:nth-child(even) .roadmap__inner {
    left: -289px;
    /*250+45-6*/ } }
@media screen and (max-width: 600px) {
  .roadmap__item {
    margin-left: 20px; }

  .roadmap__inner {
    width: calc(100vw - 91px); }

  .roadmap__item:nth-child(even) .roadmap__inner {
    left: 45px; }

  .roadmap__item:nth-child(even) .roadmap__inner:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #1b2324 transparent transparent; } }
:root {
  --breakpoint-md: 900px;
  --breakpoint-sm: 600px; }

html,
body {
  margin: 0;
  font-size: 10px;
  background-color: #101517;
  color: #e6f2ee;
  font-family: Avenir, PT Sans, monospace; }
  @media screen and (max-width: 900px) {
    html,
    body {
      font-size: 9px; } }

header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 6rem;
  width: 100%;
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 3px 3px 10px rgba(127, 14, 50, 0.74);
  background-color: #1b2324; }
  header:after {
    position: absolute;
    bottom: -2px;
    content: '';
    display: block;
    height: 2px;
    background-image: radial-gradient(rgba(127, 14, 50, 0.74), rgba(0, 0, 0, 0));
    border-radius: 50%;
    left: 3rem;
    width: 6rem;
    animation: headerTwinkle 20s linear infinite;
    box-shadow: 0 0 3px rgba(127, 14, 50, 0.74), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 7px rgba(127, 14, 50, 0.74), 0 0 13px rgba(127, 14, 50, 0.74); }
  @media screen and (max-width: 900px) {
    header {
      padding: 0 1rem 0 2rem;
      height: 5rem; } }

.logo {
  height: 6rem; }
  @media screen and (max-width: 900px) {
    .logo {
      height: 4rem; } }

.menu--main {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
  padding: 0; }
  @media screen and (max-width: 900px) {
    .menu--main {
      position: fixed !important;
      top: 0;
      right: 0;
      transform: translateX(100%);
      height: 100%;
      width: 320px;
      opacity: 0;
      background-color: #1b2324;
      flex-direction: column;
      transition: 0.3s all;
      padding: 6rem 0 0; }
      .menu--main.open {
        transform: translateX(0);
        opacity: 1; } }
.menu__burger {
  position: relative;
  z-index: 100;
  display: none;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin-left: auto;
  color: #e6f2ee;
  background-color: transparent;
  border: none; }
  .menu__burger:hover, .menu__burger:focus {
    outline: none; }
  @media screen and (max-width: 900px) {
    .menu__burger {
      display: flex;
      align-items: center;
      justify-content: center; } }
.menu__item {
  padding: 0 2rem; }
.menu__link {
  position: relative;
  padding: 1rem 0 !important;
  color: #e6f2ee;
  font-family: Avenir, monospace;
  transition: 0.3s; }
  .menu__link:before {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    content: '';
    width: 100%;
    max-width: 0;
    height: 1px;
    background-color: #7f0e32;
    box-shadow: 0 0 3px rgba(127, 14, 50, 0.74), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 10px rgba(127, 14, 50, 0.74);
    transition: 0.3s; }
  .menu__link:hover {
    color: #bddbdb;
    text-decoration: none; }
    .menu__link:hover:before {
      max-width: 300px; }

.section {
  padding: 6rem 0 0; }
  @media screen and (max-width: 600px) {
    .section {
      padding: 6rem 1rem 0; } }

.about_us {
  background-color: transparent;
  background: linear-gradient(rgba(16, 21, 23, 0.5) 80%, #101517), url("../img/pic2.png") center right no-repeat;
  background-size: cover;
  padding-top: 6rem; }
  @media screen and (max-width: 600px) {
    .about_us {
      padding-top: 4rem; }
      .about_us .container {
        padding: 0; } }
  .about_us .row {
    margin: 5rem 0; }

.intro {
  display: flex;
  align-items: center; }
  .intro__interactive {
    padding: 3rem; }
    .intro__interactive img {
      max-width: 100%; }
  .intro__text {
    margin-bottom: 2rem; }
    .intro__text .btn {
      margin: 0; }

.values {
  background-image: linear-gradient(#101517, rgba(16, 21, 23, 0.8), #101517), url("../img/ground.jpg");
  background-size: cover; }
  .values__item {
    margin-bottom: 8rem; }
  .values .heading {
    margin-bottom: 4rem; }
  .values__icon {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .values__icon .image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      height: 8rem; }
    @media screen and (max-width: 900px) {
      .values__icon {
        margin-bottom: 3rem; } }

.mission {
  margin-bottom: 6rem; }
  .mission .heading {
    margin-bottom: 4rem; }
  .mission__item {
    display: flex;
    flex-direction: column; }
    .mission__item .btn {
      margin: auto 0 0 0; }
    @media screen and (max-width: 900px) {
      .mission__item:not(:last-child) {
        margin-bottom: 4rem; }
      .mission__item .btn {
        display: none; } }
  .mission__text {
    margin-bottom: 2rem; }
  .mission__title {
    margin-bottom: 2rem; }
  .mission__icon {
    position: relative;
    margin: 0 auto 2rem; }
    .mission__icon .material-icons {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 6rem;
      font-size: 6rem;
      line-height: 1; }

.contacts__card {
  max-width: 800px;
  margin: 8rem auto;
  padding: 1rem;
  background-color: #1b2324;
  border-radius: 0.6rem;
  box-shadow: 5px 5px 20px rgba(127, 14, 50, 0.74); }
.contacts__form {
  margin-bottom: 0 !important; }
  @media screen and (max-width: 900px) {
    .contacts__form {
      display: flex;
      flex-direction: column; } }
  .contacts__form--compact {
    display: flex;
    flex-direction: row; }
    .contacts__form--compact .form-control,
    .contacts__form--compact .btn {
      height: 5rem !important;
      margin-top: 0 !important; }
    @media screen and (max-width: 900px) {
      .contacts__form--compact {
        flex-direction: column; }
        .contacts__form--compact .form-control {
          margin-bottom: 2rem; } }
  .contacts__form .col-md-6 {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 900px) {
      .contacts__form .col-md-6 {
        margin: auto; } }
  .contacts__form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .contacts__form textarea.form-control {
    flex: 1; }
  .contacts__form .btn {
    margin-top: 3rem;
    min-width: 200px; }

.timer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 900px) {
    .timer {
      display: none; } }
  .timer .text--lg {
    margin-bottom: 5rem; }
  .timer .btn {
    margin-top: 5rem; }

.products {
  background-image: linear-gradient(#101517, rgba(16, 21, 23, 0.8), #101517), url("../img/ground.jpg");
  background-size: cover; }
  .products__item {
    margin-bottom: 5rem; }
    .products__item .btn {
      display: inline-flex; }
  .products__info {
    margin-bottom: 3rem; }

.team--blckchnd .team__item {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  margin-bottom: 2rem; }
.team--blckchnd .team__personal {
  text-align: center;
  padding: 1rem 2rem; }
.team .heading {
  margin-bottom: 4rem; }
.team__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem; }
  .team__item:nth-child(even) {
    flex-direction: row-reverse; }
  @media screen and (max-width: 600px) {
    .team__item {
      flex-direction: column;
      align-items: center; }
      .team__item:nth-child(even) {
        flex-direction: column; } }
.team__avatar {
  width: 150px;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .team__avatar img {
    max-width: 100%; }
.team__personal {
  flex: 1;
  padding: 0 2rem; }
  @media screen and (max-width: 600px) {
    .team__personal {
      text-align: center;
      padding: 2rem 0 0; } }
.team__name {
  color: #bddbdb; }

.partners {
  background-color: #e6f2ee;
  padding-bottom: 6rem; }
  .partners .heading {
    width: 100%;
    color: #1b2324;
    margin-bottom: 4rem; }
    .partners .heading:after {
      display: none;
      animation: none; }
  .partners__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    @media screen and (max-width: 900px) {
      .partners__wrapper {
        flex-direction: column;
        align-items: flex-start; } }
  .partners__avatar {
    max-width: 400px; }
    @media screen and (max-width: 900px) {
      .partners__avatar {
        margin-bottom: 2rem;
        max-width: 100%; } }

.contact_us {
  padding-bottom: 6rem;
  background: linear-gradient(#101517, rgba(16, 21, 23, 0.5), #101517), url("../img/ground3.png");
  background-size: cover; }

.form-control {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  min-width: 160px;
  width: auto;
  margin: auto;
  padding: 0 3rem;
  font-size: 2.4rem;
  transition: 0.3s all; }
  .btn-danger {
    background-color: #7f0e32;
    border: none; }
    .btn-danger:hover {
      background-color: #7f0e32;
      box-shadow: inset 0 0 40px rgba(189, 219, 219, 0.4), 0 0 30px rgba(189, 219, 219, 0.4), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 10px rgba(127, 14, 50, 0.74), 0 0 20px rgba(127, 14, 50, 0.74); }
    .btn-danger:disabled {
      background-color: #7f0e32 !important;
      opacity: 0.7; }
  .btn-link {
    height: auto;
    min-width: auto;
    padding: 0;
    font-size: 1.8rem;
    color: #7f0e32; }
    .btn-link:hover {
      color: #bddbdb;
      text-decoration: none; }

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #e6f2ee;
  font-size: 1.4rem; }

footer {
  padding: 4rem 3rem;
  background-image: linear-gradient(#101517, rgba(16, 21, 23, 0.6), #101517), url("../img/ground.jpg");
  background-size: cover; }
  footer .logo {
    display: block;
    margin-bottom: 3rem; }

.social__list {
  display: flex;
  list-style: none;
  padding: 0; }
  @media screen and (max-width: 900px) {
    .social__list {
      flex-direction: column; } }
.social__item:not(:last-child) {
  margin-right: 4rem; }
.social__link {
  position: relative;
  display: inline-block;
  height: 3rem;
  font-size: 1.6rem;
  color: #e6f2ee;
  text-decoration: none;
  text-transform: uppercase; }
  .social__link:before {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    content: '';
    width: 100%;
    max-width: 0;
    height: 1px;
    background-color: #7f0e32;
    box-shadow: 0 0 3px rgba(127, 14, 50, 0.74), 0 0 5px rgba(127, 14, 50, 0.74), 0 0 10px rgba(127, 14, 50, 0.74);
    transition: 0.3s; }
  .social__link:hover {
    color: #bddbdb;
    text-decoration: none; }
    .social__link:hover:before {
      max-width: 300px; }

.hexagon {
  filter: drop-shadow(#7f0e32 0 0 5px) drop-shadow(#7f0e32 0 0 10px);
  margin: 0 auto; }
  .hexagon__path {
    fill: transparent;
    stroke: #7f0e32;
    stroke-width: 2px;
    stroke-linecap: round; }

.eos__modal .modal-content {
  padding: 2rem;
  background-color: #1b2324;
  border: none;
  border-radius: 0.6em;
  box-shadow: 0 5px 10px rgba(127, 14, 50, 0.74), 5px 0 10px rgba(127, 14, 50, 0.74), 5px 5px 20px rgba(127, 14, 50, 0.74); }
  .eos__modal .modal-content .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    z-index: 10;
    color: #e6f2ee; }
  .eos__modal .modal-content .heading {
    padding-right: 6rem; }
.eos__list {
  list-style: none; }
  .eos__list li {
    position: relative;
    margin-bottom: 2rem; }
    .eos__list li:after {
      position: absolute;
      left: -2rem;
      top: -0.5rem;
      content: '/';
      font-weight: bold;
      font-size: 2rem;
      color: #7f0e32; }

/*map*/
#gmap_canvas {
  height: 400px; }

.map__marker {
  position: relative;
  z-index: 10;
  padding: 1rem 0 0 1rem;
  color: #e6f2ee; }

.gm-style-iw {
  overflow: visible !important; }
  .gm-style-iw div {
    overflow: visible !important; }
  .gm-style-iw::before {
    position: absolute;
    z-index: 3;
    top: -1rem !important;
    left: -1.5rem !important;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    background: #1b2324;
    border-radius: 0.6rem;
    color: #e6f2ee;
    box-shadow: 5px 5px 20px rgba(127, 14, 50, 0.74); }
  .gm-style-iw::after {
    content: '';
    position: absolute;
    top: auto;
    bottom: -53px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #1b2324;
    z-index: 4;
    margin: auto; }

.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  display: none; }

/*!map*/

/*# sourceMappingURL=styles.css.map */
